# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Python caches & virtual environments
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/

# Temporary files & local scripts
optimize_media.py
*.tmp
*.bak
